{% extends 'index.html' %}

{% block content %}
 <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Top imported packages</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Count</th>
                  </tr>
                </thead>
                  <tbody>
                    {% for result in context.result%}
                    <tr>
                        <td>{{result.package}}</td>
                        <td>{{result.count}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>
          </div>
        </div>

<!--{{context.result}}-->

{% endblock content %}